<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
        
<mapper namespace="cn.lincain.mapper.EcnInfoMapper">
	
    <select id="getEcnInfoList" resultMap="ecnResultMap">
        SELECT
        *
        FROM
        tb_ecn
        LIMIT #{offset}, #{limit}
    </select>
    
    <resultMap type="cn.lincain.domain.EcnInfo" id="ecnResultMap">
    	<id property="ecnId" column="ecn_id"/>
    	<result property="ecrName" column="ecr_name"/>
    	<result property="ecrNo" column="ecr_no"/>
    	<result property="ecnNo" column="ecn_no"/>
    	<result property="empNo" column="work_no"/>   	
    	<result property="proNo" column="pro_no"/>
    </resultMap>
    
    <select id="getEcnInfoById" resultMap="ecnResultMap">
    	SELECT
    	*
    	FROM 
    	tb_ecn
    	WHERE
    	ecn_id=#{ecnId}
    </select>
    
    <update id="updateEcnById">
    	UPDATE
    	tb_ecn
    	SET
    	ecr_name=#{ecninfo.ecrName},
    	ecn_no=#{ecninfo.ecnNo},
    	ecr_no=#{ecninfo.ecrNo},
    	work_no=#{ecninfo.workNo}
    	WHERE
    	ecn_id=#{ecnId}
    </update>
    
    <select id="getEcnInfoListByUser" resultMap="ecnResultMap">
    	SELECT
    	*
    	FROM
    	tb_ecn
    </select>
    
    <insert id="addEcnByUser" parameterType="cn.lincain.domain.EcnInfo">
    	INSERT
    	INTO
    	tb_ecn
    	(
    	ecr_name,ecn_no,ecr_no,work_no,pro_no
    	)
    	VALUES
    	(
    	#{ecnInfo.ecrName},#{ecnInfo.ecnNo},#{ecnInfo.ecrNo},#{ecnInfo.empNo},#{ecnInfo.proNo}
    	)
    </insert>
</mapper>